<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>teamID</key>
	<string>Q3JLTAG9PV</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>2527806871D806E8E27221B15CA8A1938CF216F2</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>dev.ayushya.noo</key>
		<string>NooProfile</string>
		<key>dev.ayushya.noo.ShareExtension</key>
		<string>NooShareSheetProfile</string>
	</dict>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
